body {
    background-color: #404040;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    
}
.movies-card {
    display: flex;
    flex-direction: column;
    transition: .3s ease-in;
    margin: 4px auto;
    border-bottom: 2px solid #F5F5F5;
    background: #d9d9d9;
    width: 250px;
    font-family: "Open Sans";
    text-align: center;
    height: 350px;
    border-radius: 8px;
}
.movies-card:hover {
    opacity: 0.7;
    border-bottom: 2px solid #fc5a5a;
}
.movies-info {
    height: 30px;
    flex: 1 0 auto;
    
}
.movies-info h4 {
    margin: 0 0 10px 0;
    color: #444444;
    font-weight: 400;
}

.details { 
    border: 2px solid #808080; 
    background-color: transparent;
    color: #808080;
    text-decoration: none; 
    text-transform: uppercase;
   border-radius: 8px;
   
}
    .details:hover {
        background-color: #D3D3D3;
    }

.movies-image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.movies-image {
    display: block;
    width: 100%;
    height: 70%;
}
.header {
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content:space-between;
    z-index: 1;
    background-color: whitesmoke;
    width: 100%;
    height: 30px;
}

.container #search-header {
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    
}
.itemInfo {
    width: 900px;
    height: 900px;
    background-color: white;
    margin: 0 auto;
}

#header-home {
    font-size: 160%;
    text-decoration: none;
    color: black;
    
}
.showItem-image img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 9%;
    padding-left: 2%;
}

.showItem-overview {
    position: relative;
    top: 30px;
    left: 50%;
    font-size: 150%;
    height: 100px;
    width: 400px;
    padding-left: 1%;
}
.showItem-info {
    height: 40%;
    width: 400px;
    position: absolute;
    top: 70%;
    padding-left: 2%;
   
}
.showItem-info p {
    font-size: 150%;
}
#search-header input {
    height: 27px;
    border: 0;
    outline: none;
    font-size:120%;
}
#search-header button {
    color: #8b8b8b;
    background: #e8e8e8;
   outline: none;
   border: none;
   height: 28px;
}
#search-header button:hover {
    background-color: gainsboro;
}
.dropdown button {
    height: 30px;
    border: none;
}
.dropdown button:hover {
    background-color: gainsboro;
}